#random-pokemon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 5px;
}

#catch-pokemon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 5px;
}

#card-base {
    margin-top: 10px;
}

.button {
    float:left;
    margin-left: 35%;
    position: relative;
}