:root {
    --pokemon-yellow: #ffcb05;
    --pokemon-blue: #2a75bb;
    --pokemon-red: #cc0000;
}

.overall-container {
    display: block;
}

.banner-container {
    background-color: var(--pokemon-red);
}

.pokemon-bag-search-bar-container {
    background-color: var(--pokemon-yellow);
    width: 100%;
    display: inline-grid;
}

.pokemon-bag-search-bar-container .pokemon-bag-dropdown-container {
    grid-column-start: 1;
}

.pokemon-bag-search-bar-container input {
    display: flex;
    height: 50px;
}

.pokemon-blue-container {
    background-color: var(--pokemon-blue);
    height: 100px;
}

#search-bar {
    text-transform: lowercase;
    height: 90%;
    margin-left: 84%;
}

.pokemon-bag-dropdown {
    display: inline-flex;
}