:root {
    --pokemon-yellow: #ffcb05;
    --pokemon-blue: #2a75bb;
    --pokemon-red: #cc0000;
}

.banner-container {
    background-color: var(--pokemon-red);
}

.search-bar-container {
    display: flex;
    height: 50px;
    background-color: var(--pokemon-yellow);
}

.pokemon-bag-container {
    height: 100%;
    display: flex;
}

.pokemon-blue-container {
    background-color: var(--pokemon-blue);
    height: 100px;
}

#search-bar {
    text-transform: lowercase;
    height: 90%;
    margin-left: 84%;
}


