.App {
  text-align: center;
}

.card-evolution {
  display: flex;
  flex-direction: row;
}

.left-of-card {
  padding-left: 20%;
  padding-top: 50px;
  height: 20px;
}

.right-of-card {
  padding-right: 20%;
  padding-top: 50px;
  height: 20px;
}
