.container .card img {
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: contain;
}

.container {
    max-width: 300px;
    margin: 0 auto;
}

.card {
    background-color: yellowgreen;
    border: 1px solid #baccd8;
    padding: 8px;
    border-radius: 12px;
}

.card-name {
    font-size: 24px;
    font-weight: 600;
}

p {
    font-size: 18px;
    line-height: 150%;
    color: black;
    text-align: left;
}

.card-data {
    padding: 16px 8px 8px 8px;
}

.button {
    float:left;
    margin-left: 35%;
    position: relative;
}